<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>

<body class="bg-green-300 ">
    <div class="page flex flex-col lg:flex-row m-4">
        <div class="lg:w-[25%] w-full flex flex-col h-full left-page">
            <div class="logo flex mt-4 space-x-4 justify-center items-center">
                <p class="font-semibold text-3xl text-white">ConvoNest</p>
                <img src="message-square-lines-alt-svgrepo-com.svg" alt="message">
            </div>

            <img src="auth-img.png" alt="img">
        </div>

        

        <div class="right-page lg:w-[75%] space-y-10  flex flex-col items-center   rounded-xl  w-full bg-white ">
            
            <div class="heading flex flex-col items-center justify-center mt-14">
                <p class="text-gray-700 font-semibold text-3xl">Reset Password</p>
                <p class="text-gray-700 text-sm ">Reset password with convoNest.</p>
            </div>

            <div class="reset-inst p-6 bg-blue-200 text-blue-500">
                Enter your Email and instructions will be sent to you! 
            </div>

            <form action="" class="flex mt-12 w-full space-y-7 flex-col justify-center items-center" method="post">
                <div class="input-email space-y-2  w-[90%] lg:w-[40%] flex flex-col">
                    <label for="usrname" class="  text-gray-600">Email</label>
                    <input type="text" class="border border-gray-300 focus:border-blue-500 focus:outline-none p-2"
                        placeholder="Enter Username">
                </div>


                <button class="w-[90%] lg:w-[40%] bg-green-500 hover:bg-green-600 text-white p-2 rounded-md"
                    type="submit">Reset</button>
            </form>


            <div class="dont-have-account flex space-x-2">
                <p class="text-sm text-gray-400">Rememberd it ?</p>
                <a href="#" class="text-green-400 hover:text-green-600">Login</a>
            </div>
        </div>
    </div>

</html>